<%- include('partials/header.ejs', { user }) %> 

<h2>Welcome Home, user</h2>

<% posts.forEach(function(a) { %>
    <div>
        <h2>
            <a href="/drink/<%= a.id %>"><%= a.name %></a>
        </h2>
        <h3><%= a.description %></h3>
        <p> <%= a.ingredient%></p>
        <!--  if (user.id == user) { -->
        <!-- delete button to remove post from db -->
        <form method="POST" action="/drink/<%= a.id %>/?_method=DELETE">
        <button type="submit">Delete</button>
        </form>
        <!-- link to a page that will show an edit form for this dino -->
        <a href="/drink/edit/<%= a.id %>">edit</a>
        <!--  }  -->
    </div>
  <% }) %>


<%- include('partials/footer.ejs') %> 