<%- include('../partials/header.ejs', { user }) %> 

<div class="box">
  <h2 class="title has-text-centered">Alcoholic feed</h2>
</div>

<% posts.forEach(function(a) { %>
  <%if (a.categories[0].dataValues.name === 'Alcoholic') {%>
    <div class="box">
        <h2>
           <span class="title is-4">
            <%= a.name %>
           </span>
            by <%= a.user.email %>
        </h2>
        <h3 class="description"><%= a.description %></h3>
        <p class="ingredient"> <%= a.ingredient%></p>
        <!--  if (user.id == user) { -->
        <!-- delete button to remove post from db -->
        <form method="POST" action="/drink/<%= a.id %>?_method=DELETE">

        <% if (user) { %>
          <% if (user.id === a.userId) { %>
          <button type="submit" class="delete">Delete</button>
          <!-- link to a page that will show an edit form for this dino -->
          </form>

          <form method="GET" action="/drink/edit">
          <button type="submit" name='id' class='button' value="<%= a.id %>"> Edit </button>    
          </form>
          <% } %>
        <% } %>
      <% } %>
    </div>
<% }) %>
<%- include('../partials/footer.ejs') %> 