<%- include('../partials/header', { user }) %>

<h3 class="title">Hey, <%= user.email %> thanks for logging into the app!</h3>
<h3 class="title">This is the drinks you've made</h3>

<% posts.forEach(function(a) { %>
    <% if (user.id === a.userId) { %>
        <div class="box">
            <h2 class="titlePost">
            <%= a.name %>
            </h2>
            <h3 class="description"><%= a.description %></h3>
            <p class="ingredient"> <%= a.ingredient%></p>
            <!--  if (user.id == user) { -->
            <!-- delete button to remove post from db -->
            <form method="POST" action="/drink/<%= a.id %>?_method=DELETE">

            <button type="submit" class="delete">Delete</button>
            <!-- link to a page that will show an edit form for this dino -->
            </form>

            <form method="GET" action="/drink/edit">
            <button type="submit" name='id' value="<%= a.id %>"> Edit </button>    
            </form>
            
        </div>
    <% } %>
<% }) %>

<%- include('../partials/footer') %>